.title{
    font-weight: bolder;
    color: rgb(250, 122, 250);
}

.DropDown_Background{
    background-color: black;
}
.label-color {
    color: rgb(167, 85, 243);
}
.stats {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(158, 182, 243, 0.7);
}