.headingBar {
    height: 10vh;
    max-height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 2px solid grey;
}

.cornera {
    text-align: center;
    width: 10vw;
}

.headinga {
    text-align: center;
    width: 80vw;
}

.profilea {
    text-align: center;
    width: 10vw;
}

.cornerlogo {
<<<<<<< HEAD
    height: 100%;
=======
    height: 20px;
    width: 10%;
    text-align: center;
>>>>>>> 3f68a6cd20cde4a25a18614d191ff48696287fa8
}

.headinglogo {
    height: 100%;
}

.profile {
    height: 100%;
}
