* {
    box-sizing: border-box;
  }
.column1 {
    float: left;
    width: 33.33%;
    border: 2px solid black;
    text-align: center;
  }
.row1 {
    padding-top: 40px;
    height: 100%;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.title[data-v-32c8451d] {
    overflow: hidden;
    flex: 1;
}

.box[data-v-3ce7f89e] {
    display: block;
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    text-underline-position: auto;
    text-decoration: none;
    height: 85vh;
}
label {
  color: white;
  font-size: 300%;
}
.box--league {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(9, 184, 243, 1)), url(./league_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position:relative;
    
}
.box--csgo {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(82, 50, 24)), url(./PUBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}
.box--smite {
    background-image: linear-gradient(to bottom, rgba(252, 252, 245, 0.52), rgb(69, 65, 82)), url(./smite_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7f6d90;
    color: white;
}
  
  .column1:hover .overlay {
    opacity: 0.6;
  }
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.trn-button {
    background-position: bottom;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: hsla(0,0%,100%,.15);
    padding: .625rem 1rem;
    border: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    color: var(--text-color);
    fill: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform .3s ease-out,filter .3s ease-out,box-shadow .3s ease-out;
    filter: brightness(100%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-appearance: none;
    backdrop-filter: saturate(150%);
    color:white;
}
#bottom{
	position:absolute;
	bottom: 10px;
    left: 38%;
	text-align:center;
}
