.headingBar {
    height: 10vh;
    max-height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 2px solid grey;
}

.cornera {
    text-align: center;
    width: 10vw;
}

.headinga {
    text-align: center;
    width: 80vw;
}

.profilea {
    text-align: center;
    width: 10vw;
    position: relative;
    display: inline-block;
}

.cornerlogo {
    height: 100%;
}

.headinglogo {
    height: 100%;
}

.profile {
    height: 100%;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
