.filterStatus{
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(167, 85, 243);
    
}

.filterGame{
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(167, 85, 243);
    
}

.DropDown_Background{
    background-color: black;
}

.labelEdit{
    color: rgb(167, 85, 243);
    font-family: "Lucida Console", "Courier New", monospace;
}