.prof-container {
    padding: 40px;  
    padding-left: 0px;
    height: fit-content;
    margin-left: 25%;
}

.box2 {
    background: linear-gradient( #937e94 30%, #5a575a 90%);
    border-radius: 5px;
    color:white;
    padding: 20px;
    height: fit-content;
    width: 50vw;
    box-shadow: 0 3px 5px 2px rgba(197, 194, 194, 0.3);
    transition: 0.3s;
    display: grid;
    padding-top: 30px;
    
}
.box2:hover {
    border-radius: 5px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.name{
    margin-top: -70px;
    margin-left: 100px;
    font-size: 27px;
    /* font-size: x-large; */
    text-transform: uppercase;
}
.des {
    margin-top: -10px;
    margin-left: 100px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

.description-box {
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 40px;  
    
    border-radius: 15px;
    background: rgb(220, 220, 220);
}

.img-box {
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 10px;
}
h5 {
    color: black;
}
.display-status {
    background-color: transparent;
    color: black;
    font-size: 20px;
    margin-left: 50px;
}
.GameNames {
    text-align: center;
    color: rgb(52, 52, 202);
    font-size: 20px;
}
.gamesTitles {
    color: rgb(66, 66, 66);
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}
.gameName-box {
    width: fit-content;
    height: fit-content; 
    padding: 40px; 
    text-align: center;
    margin: auto;
    border-radius: 15px;
    background: rgb(220, 220, 220);
}
.editProfile {
    text-align: center;
    display:grid;
    margin: auto;
    margin-bottom: 10px;
}
.discord {
    margin: auto;
}

.gameNameForm {
    display:grid;
    margin: auto;
    text-align: center;
}
.infoForm {
    display:grid;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.deleteAccount {
    text-align: right;
    margin-top: -5%;
    margin-bottom: 10%;
    margin-right: 10%
}

.inputName {
    font-size: 20px;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #7F00FF;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #67537a;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}